<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 200px;">
     <h1>About</h1>
    </div>
  </div>
    <div class="row">
      <div class="mx-auto" style="width: 800px;">
     <tr>
       <th>ながのCAKEは全国発送可能なケーキ屋さんです。</th><br>
       <th>お子様からお年寄りの方までお召し上がりいただけるよう、</th><br>
       <th>様々なバリエーションをご用意しております。</th><br>
       <th>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</th><br>
       <th>ぜひご注文ください。</th>
     </tr>
     </div>
  </div>
  </div>

