<div class="container">
<h4>管理者ログイン</h4>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">メールアドレス</label>
    <div class="col-sm-6 mx-auto">
      <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">パスワード</label>
    <div class="col-sm-6 mx-auto">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
</form>
 
 
  <div class="actions">
    <div class=text-center>
     <button type="button" class="btn btn-primary">ログイン</button>
    </div>
  </div>
</div>
<% end %>

<%= render "admins/shared/links" %>
