<h1>商品一覧</h1>

<% @items.each do |item| %>
<tr>
  <th><%= image_tag attachment_url(item, :image, :fill, 100, 100, format: "jpg")  %></th>
  <th><%= link_to item.name, item_path(item.id) %></th>
  <th><%= item.price %></th>
</tr>

<% end %>